# Global ignoring of different binaries and another temporary files

# System cache
.DS_Store
Thumbs.db

# Build results
/bin
/build
/dist
/obj

# Visual Studio cache and settings
/.vs
*.suo
*.user

# Python cache and settings
/.pip
/.venv
__pycache__

# NuGet cache
/.nuget
